<section class="section is-flex is-flex-direction-column is-justify-content-center">
  <div class="is-flex is-align-items-center mb-3">
    <p class="is-size-5 mr-3">Equipos: <strong>{{data.teamsLenght}}</strong></p>
    <a class="button is-dark" href="/form">Agregar Equipo</a>
  </div>
  <table class="table is-bordered is-fullwidth">
    <thead>
      <tr>
        <th class="has-background-grey-light">Nombre Equipo</th>
        <th class="has-background-grey-light">País</th>
        <th class="has-background-grey-light">Acción</th>
      </tr>
    </thead>
    <tbody>
      {{#each data.teamsData as |team|}}
        <tr>
          <td>{{team.name}}</td>
          <td>{{team.area.name}}</td>
          <td>
            <a href="/team/{{team.id}}/view">
              ver
            </a>,
            <a href="/team/{{team.id}}/edit">
              editar
            </a>,
            <a href="/team/{{team.id}}/delete">
              eliminar
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

</section>